
<div class="container">
<h1>Bienvenido {{ user.name }} </h1>
</div>  

<hr>

<nav class="nav nav-pills flex-column flex-sm-row nav-justified">
  <a class="flex-sm-fill text-sm-center nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"> Servicios Asignados
         <span class="badge badge-light">{{aslength}}</span></a>
  <a class="flex-sm-fill text-sm-center nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Servicios disponibles
          <span class="badge badge-light">{{selength}}</span>
        </a>
  <a class="flex-sm-fill text-sm-center nav-link" id="pills-completed-tab" data-toggle="pill" href="#pills-completed" role="tab" aria-controls="pills-completed" aria-selected="false">Servicios completados
          <span class="badge badge-light">{{colength}}</span>
        </a>      
</nav>


<div class="tab-content" id="pills-tabContent">

    <div class="tab-pane contenedor2 fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        {{#if assigned}}
              <div class="row">
                          {{#each assigned}}
                          <div class="card services col-md-5 col-lg-3 col-sm-5 mx-auto mt-4 mb-4" >
                            <img class="card-img-top" src="/images/{{meta.applicant}}.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Servicio en proceso</h5>

                               <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>{{ meta.applicant }}</strong></li>
                                <li class="list-group-item"><strong>{{ ori }}</strong>  <br>
                                  <strong>A NOMBRE DE:</strong> {{oriName}} <br>
                                  <strong>TLF:</strong>{{oriTlf}}
                                </li>
                                <li class="list-group-item">
                                  <strong>{{ dest }}</strong> <br>
                                  <strong>A NOMBRE DE:</strong> {{destName}} <br>
                                  <strong>TLF:</strong> {{destTlf}}
                                </li>
                                 <li class="list-group-item"><strong>{{ desc }}</strong></li>
                                 <li class="list-group-item">Costo: s/{{driverPrice.total}}</li>
                              </ul>


                            {{#if meta.driver}}
                                  {{#if status}} 
                                  <a href="/driver/turn/{{_id}}" class="btn btn-success">
                                  Tomar</a>
                                  {{else}}
                                  {{ meta.hrRe }}
                                  {{/if}}
                            {{/if}}

                             {{#if status }}
                                Entregar
                              {{else}}  
                               {{#if completed}}
                                 {{ meta.hrEn }}
                               {{else}}
                                  <a href="/driver/edit/{{_id}}" class="btn btn-success">
                                  Entregar</a>
                               {{/if}}
                              {{/if}}

                        </div>
                    </div>
                   {{/each}}
                </div> 
<!--
          <table class="table table-bordered table-hover table-responsive">
                      <thead>
                        <tr>

                          <th>Fecha</th>
                          <th>Empresa</th>
                          <th>Motorizado</th>
                          <th>Origen</th>
                          <th>Llegada</th>
                          <th>Descripcion</th>
                          <th>Recojo</th>
                          <th>Entrega</th>
                          <th>Costo del servicio</th>
                          <th>Costo Adicional</th>
                          <th>Total</th>

                        </tr>
                      </thead>
                      <tbody>
               
                          {{#each assigned}}

                            <tr>
                              <td>{{date.formattedDate}}</td>
                              <td>{{ meta.applicant }}</td>
                              <td>{{meta.driver}}</td>
                              <td>{{ ori }} <br>
                                  A NOMBRE DE:{{oriName}} <br>
                                  TLF:{{oriTlf}}
                              </td>
                              <td>{{ dest }} <br>
                                  A NOMBRE DE:{{destName}} <br>
                                  TLF:{{destTlf}}
                              </td>
                              <td>{{ desc }}</td>
                              <td>
                            {{#if meta.driver}}
                              {{#if status}} 
                              <a href="/driver/turn/{{_id}}" class="btn btn-success">
                              Tomar</a>
                              {{else}}
                              {{ meta.hrRe }}
                              {{/if}}
                            {{else}}
                              Tomar
                            {{/if}}
                              </td>
                         
                              <td>  
                              {{#if status }}
                                Entregar
                              {{else}}  
                               {{#if completed}}
                                 {{ meta.hrEn }}
                               {{else}}
                                  <a href="/driver/edit/{{_id}}" class="btn btn-success">
                                  Entregar</a>
                               {{/if}}
                              {{/if}} 
                              </td>
                              <td>s/{{driverPrice.basic}}</td>
                              <td>
                              {{#if comment.contenido}}
                                s/{{driverPrice.charge}}
                              {{else}}
                                No hay observaciones para este servicio      
                              {{/if}}
                              </td>
                              <td>s/{{driverPrice.total}}</td>
                            </tr>
                          {{/each}}
                      </tbody>
                    </table>

      
                        {{else}}

                          <div class="container">
                            <h4>No hay servicios asignados hasta este momento</h4>
                          </div>

                        {{/if}}
                      -->
      </div>

  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    
                  {{#if services}}
    <table class="table table-bordered table-hover table-responsive">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Empresa</th>
                    <th>Motorizado</th>
                    <th>Origen</th>
                    <th>Llegada</th>
                    <th>Descripcion</th>
                    <th>Recojo</th>
                    <th>Entrega</th>
                    <th>Observación</th>
                    <th>Costo del servicio</th>

                  </tr>
                </thead>
                <tbody>
         
                    {{#each services}}

                      <tr>
                        <td>{{date.formattedDate}}</td>
                        <td>{{ meta.applicant }}</td>
                        <td>
                          <a href="/driver/assign?id={{_id}}&driver={{../user._id}}" class="btn btn-success">
                        asignar</a>
                        </td>
                        <td>{{ ori }} <br>
                            A NOMBRE DE:{{oriName}} <br>
                            TLF:{{oriTlf}}
                        </td>
                        <td>{{ dest }} <br>
                            {{destName}} <br>
                            {{destTlf}}
                        </td>
                        <td>{{ desc }}</td>
                        <td>
                        {{#if meta.driver}}
                          {{#if status}} 
                            <a href="/driver/turn/{{_id}}" class="btn btn-success">
                            Tomar</a>
                          {{else}}
                            {{ meta.hrRe }}
                          {{/if}}
                        {{else}}
                          Tomar
                        {{/if}}
                        
                        </td>
                   
                        <td>  
                        {{#if status }}
                          Entregar
                        {{else}}  
                         {{#if completed}}
                           {{ meta.hrEn }}
                         {{else}}
                            <a href="/driver/edit/{{_id}}" class="btn btn-success">
                            Entregar</a>
                         {{/if}}
                        {{/if}} 
                        </td>
                        <td>
                          {{#if comment.contenido}}
                              {{comment.contenido}}
                          {{else}}
                              No Hay observaciones para este servicio
                          {{/if}} 
                        </td>
                        <td>s/{{driverPrice.basic}}</td>
                      </tr>
                    {{/each}}
                </tbody>
              </table>      
                  {{else}} 
                    <div class="container">
                      <h4>No hay solicitudes de servicio hasta este momento</h4>
                    </div> 
                  {{/if}}

  </div>

  <div class="tab-pane fade" id="pills-completed" role="tabpanel" aria-labelledby="pills-completed-tab">
    
                  {{#if completed}}
    <table class="table table-bordered table-hover table-responsive">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Empresa</th>
                    <th>Motorizado</th>
                    <th>Origen</th>
                    <th>Llegada</th>
                    <th>Descripcion</th>
                    <th>Recojo</th>
                    <th>Entrega</th>
                    <th>Observación</th>
                    <th>Costo del servicio</th>

                  </tr>
                </thead>
                <tbody>
         
                    {{#each completed}}

                      <tr>
                        <td>{{date.formattedDate}}</td>
                        <td>{{ meta.applicant }}</td>
                         <td>{{meta.driver}}</td>
                        <td>{{ ori }}
                        </td>
                        <td>{{ dest }}
                        </td>
                        <td>{{ desc }}</td>
                        <td>
                        {{#if meta.driver}}
                          {{#if status}} 
                            <a href="/driver/turn/{{_id}}" class="btn btn-success">
                            Tomar</a>
                          {{else}}
                            {{ meta.hrRe }}
                          {{/if}}
                        {{else}}
                          Tomar
                        {{/if}}
                        
                        </td>
                   
                        <td>  
                        {{#if status }}
                          Entregar
                        {{else}}  
                         {{#if completed}}
                           {{ meta.hrEn }}
                         {{else}}
                            <a href="/driver/edit/{{_id}}" class="btn btn-success">
                            Entregar</a>
                         {{/if}}
                        {{/if}} 
                        </td>
                        <td>
                          {{#if comment.contenido}}
                              {{comment.contenido}}
                          {{else}}
                              No Hay observaciones para este servicio
                          {{/if}} 
                        </td>
                        <td>s/{{driverPrice.basic}}</td>
                      </tr>
                    {{/each}}
                </tbody>
              </table>      
                  {{else}} 
                    <div class="container">
                      <h4>NO HAY SERVICIOS COMPLETADOS HASTA ESTE MOMENTO</h4>
                    </div>

                  {{/if}}

  </div>

  


</div>



